// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro
// #define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
// #define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 1>;
            then-layer = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&lt 5 Q     &kp W       &kp E         &kp R         &kp T              &kp Y        &kp U        &kp I         &kp O       &kp P
&ht LWIN A  &ht LALT S  &ht LSHIFT D  &ht LCTRL F   &kp G              &kp H        &ht RCTRL J  &ht RSHIFT K  &ht RALT L  &ht K_APPLICATION SQT
&kp Z       &kp X       &kp C         &kp V         &kp B              &kp N        &kp M        &kp COMMA     &kp DOT     &kp FSLH
                                      &lt 3 DELETE  &lt 1 BACKSPACE    &lt 2 SPACE  &lt 4 ENTER
            >;
        };

        right_num {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &kp KP_PLUS   &kp N7  &kp N8  &kp N9  &kp KP_MINUS
&trans  &trans  &trans  &trans  &trans    &kp KP_EQUAL  &kp N4  &kp N5  &kp N6  &kp KP_MULTIPLY
&trans  &trans  &trans  &trans  &trans    &kp KP_DOT    &kp N1  &kp N2  &kp N3  &kp KP_DIVIDE
                        &trans  &trans    &trans        &kp N0
            >;
        };

        left_sym {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        right_nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        left_sym_extra {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        shortcuts {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
